.card-deck {
  margin: 0 1em !important;
  min-height: 100vh;
}

section {
  background-image: linear-gradient(
    to top,
    rgba(255, 111, 0, 0.521),
    rgba(0, 0, 0, 0.789)
  );
  box-shadow: 0px -10px 20px 5px black;
  padding-top: 1em;
  // position: absolute; breaks sticky nav
}