.wrapper {
  overflow: hidden;
  height: 100vh;
  width: -webkit-fill-available;
}

.backdrop {
  width: -webkit-fill-available;
}

.page-wrapper {
  display: flex;
}

.details-wrapper {
  position: absolute;
  display: flex;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 111, 0, 0.521),
    rgba(7, 0, 84, 0.789)
  );
}

.details-text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
  flex: 1;
  padding: 0em 11em;
  font-family: poppins;
  h1 {
    color: white !important;
    font-size: 5em;
    margin: 1.2em 0em;
  }
  h3 {
    font-size: 1.4em;
    font-weight: 200;
    font-style: italic;
    margin: 1.2em 0;
  }
  p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
  }
}

.sub-header {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  margin-bottom: 1em;
  align-items: center;
  h2 {
    margin: auto 0;
  }
}

.sub-header-release-runtime {
  margin-left: 1em;
  font-size: medium;
  small {
    margin-left: 1em;
    font-size: medium;
    font-weight: 300;
  }
}

.video-wrapper {
  align-self: center;
  flex: 1;
}


.genres-container {
  display: flex;
  flex-direction: row;
}

.genre {
  margin: 1em 1.1em;
  margin-left: 0;
  width: fit-content;
  padding: .7em !important;
  background-color: #6c757d00 !important;
  border: solid;
}

.kenburns-bottom-left {
  -webkit-animation: kenburns-bottom-left 12s ease-out both;
  animation: kenburns-bottom-left 12s ease-out both;
}

@-webkit-keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
    transform-origin: 16% 84%;
    filter: blur(10px);
  }
  100% {
    -webkit-transform: scale(1.15) translate(-20px, 15px);
    transform: scale(1.15) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    filter: blur(1.5px);
  }
}
@keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
    transform-origin: 16% 84%;
    filter: blur(10px);
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    filter: blur(1.5px);
  }
}
