@import "../../css/vars.scss";
// @import "./mixins";

.card {
  min-width: 13vw !important;
  // max-width: 13vw !important;
  margin: 1em !important;
  transition: ease-in-out .2s;
  z-index: 9;
  &:hover {
    z-index: 10;
    transform: scale(1.2);
  }
}

.card-wrapper {
  margin: 0 $posterMargins;
  font: "poppins";
}
