.navbar {
  background-color: black !important;
  height: 5.1em !important;
}

.navbar-brand {
  font-size: 3em !important;
}

.brand-block {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  a {
    line-height: .9em;
    margin: 0;
  }
}